Django==1.4.5
GDAL==1.9.0
MySQL-python==1.2.3
NINJA-IDE==2.3
Pillow==6.2.0
PyYAML==3.10
UniConvertor==1.1.4
apt-xapian-index==0.45
argparse==1.2.1
chardet==2.0.1
coverage==3.6
dblatex==0.3.4-3
distribute==0.6.34
dot2tex==2.8.7
flup==1.0.2
fontforge==1.0
jockey==0.9.7
lxml==3.1.0
mod-python==3.3.1
nose==1.1.2
numpy==1.7.1
pexpect==2.4
psycopg2==2.4.5
pycups==1.9.62
pycurl==7.19.0
pygobject==3.8.0
pyinotify==0.9.3
pyparsing==1.5.7
pysmbc==1.0.13
pysqlite==1.0.1
python-apt==0.8.8ubuntu6
python-debian==0.1.21-nmu2ubuntu1
pyudev==0.16.1
pyxdg==0.25
pyzor==0.5.0
reportlab==2.6
requests==1.1.0
six==1.2.0
ssh-import-id==3.14
synaptiks==0.8.1
system-service==0.1.6
urllib3==1.5
vboxapi==1.0
virtualenv==1.9.1
wsgiref==0.1.2
xkit==0.0.0
